{% extends "base.html" %}  <!-- Extends/inherits the structure and content from 'base.html' -->

{% block content %} <!-- Defines a block named 'content' -->

  {% for task in tasks %} <!-- Start a loop over each 'task' in the 'tasks' list -->
      {{ task.task_name }}<br> <!-- Display the name of the current task -->
      {{ task.category_name }}<br> <!-- Display the category name of the current task -->
      {{ task.task_description }}<br>  <!-- Display the description of the current task -->
      {{ task.is_urgent }}<br> <!-- Display whether the task is marked as urgent or not -->
      {{ task.due_date}}<br> <!-- Display the due date of the current task -->
  {% endfor %} <!-- End of the loop -->

  <ul class="collapsible">
    <li>
      <div class="collapsible-header white-text light-blue darken-4 text-shadow">
        <i class="fas fa-caret-down">
        </i>First
      </div>
      <div class="collapsible-body">
        <span>
          Lorem ipsum dolor sit amet.
        </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header white-text light-blue darken-4 text-shadow">
        <i class="fas fa-caret-down">
        </i>
        Second
      </div>
      <div class="collapsible-body">
        <span>
          Lorem ipsum dolor sit amet.
        </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header white-text light-blue darken-4 text-shadow">
        <i class="fas fa-caret-down">
        </i>
        Third
      </div>
      <div class="collapsible-body">
        <span>
          Lorem ipsum dolor sit amet.
        </span>
      </div>
    </li>
  </ul>

{% endblock %} <!-- End of the 'content' block -->

